* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/homebg.jpg);
  background-size: cover;


  /* background-repeat: no-repeat;
  background-attachment: fixed; */
}
.navbar {
  background-color: rgb(247, 136, 136) !important ;

}
.nav-link.active {
  text-decoration: underline;
}
.nav-item a:hover {
  text-decoration: underline;
}

.card-header {
  background-color: rgb(247, 136, 136) !important ;
}

.logo-img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

form .btn {
  background-color: rgb(247, 136, 136) !important ;
}

footer {
  background-color: rgb(247, 136, 136) !important ;
}
